<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Indra Smart City</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvfqWlUONwTE0o4jFC0141HolHteWSdR0">
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="text/javascript" src="js/map.js"></script>
</head>
<body>

<div ng-app="mapsApp" ng-controller="MapCtrl">
    <div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
</div>

</body>

</html>