#logo {
	heigth: 60px;
	width: 120px;
	margin-top: -15px;
}

#map {
	height: 500px;
	width: 1000px;
	box-shadow: 0px 0px 10px blue;
	margin-bottom: 0%;
    margin-left: 0;
    padding-left: 0;
	float: right;
}

.infoWindowContent {
	font-size: 14px !important;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

h2 {
	margin-bottom: 0;
	margin-top: 0;
    margin-left: 0;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

